/* button size xsmall, small, large, xlarge */
.pure-button-xsmall {
	font-size: 70%;
}

.pure-button-small {
	font-size: 85%;
}

.pure-button-large {
	font-size: 115%;
}

.pure-button-xlarge {
	font-size: 130%;
}

/* button color success (#2ecc71), info (#5bc0de), warning (#f39c12), error (#e74c3c) */
.pure-button-success {
	background-color: #2ecc71;
	color: #fff;
}

.pure-button-info {
	background-color: #5bc0de;
	color: #fff;
}

.pure-button-warning {
	background-color: #f39c12;
	color: #fff;
}

.pure-button-error {
	background-color: #e74c3c;
	color: #fff;
}

/* button type */
.pure-button-block {
	display: block;
}

/* social buttons */
.pure-button-social i {
	padding-right: 0.3em;
}

.pure-button-twitter {
	background-color: #3697b2;
	color: #fff;
}

.pure-button-facebook {
	background-color: #3b5997;
	color: #fff;
}

.pure-button-google {
	background-color: #d64937;
	color: #fff;
}

.pure-button-linkedin {
	background-color: #0073b2;
	color: #fff;
}

.pure-button-pinterest {
	background-color: #cb2027;
	color: #fff;
}

.pure-button-github {
	background-color: #3a3838;
	color: #fff;
}